@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&family=Poppins:wght@500&display=swap');
html{
    scroll-behavior: smooth;;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins' , sans-serif;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.79);
    /* background-color: beige; */
    
    /* filter: blur(5px); */
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease-in-out;
}

::selection{
    background-color: orange;
    color:white;
}

.navbar{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(41, 41, 41);
    /* background-color: beige; */
    
    box-shadow: 0 0 6px 0 black;
    padding: 30px 100px 20px;    
}

.logo{
    width: 50px;
}

.resume-btn{
    width: 200px;
    font-size: 20px;
    height: 50px;
    background-color: transparent;
    border: 2px solid orange;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}

.resume-btn:hover{
    box-shadow: inset 200px 0 0 0 orange;
    transform: scale(1.1);
}

.navbar ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-top: 10px;
}

li a{
    color: white;
    /* color: black; */

    text-decoration: none;
    font-size: 20px;
    position: relative;
}

li a:hover{
    color: orange;
    /* color: rgb(3, 199, 3); */
}

li a::after{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 3px;
    width: 0%;

    background-color: orange;
    /* background-color: rgb(3, 199, 3); */
}

li a:hover::after{
    width: 100%;
    transition: .5s ease;
}

#contact-button{
    background-color: orange;
    color: white;
    transition: all 0.5s ease;
    /* background-color: white; */

    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

#contact-button:hover{
    box-shadow: inset 100px 0 0 0 rgba(241, 229, 9, 0.733);
    /* box-shadow: 0 0 6px 0 black; */
}

#toggle-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#toggle{
    width: 40px;
}

.home{
    display: flex;
    justify-content: space-between;
    margin: 17vh 19vh 17vh;
}

.home-box1{
    text-align: left;
    width: 500px;
    /* margin-top: 60px; */
}

/*  */
.home-box1 h2{
    color: white;
}
.home-box1 span{
    color: orange;
}
.home-box1 h4{
    color: white;
}
/*  */

.home-box1 h1{
    color: white;

    margin: 30px 0px 30px;
    font-size: 50px;
}

/* #profile{
    z-index: 0;
} */

.links{
    display: flex;
    justify-content: start;
    gap: 30px;
    margin-top: 40px;
}

.links div img{
    width: 40px;
    height: 40px;
}

.home-box2{
    background-color: rgba(0, 0, 0, 0.358);
    /* background-color: white; */

    width: 450px;
    height: 400px;
    position: relative;
    z-index: -1;
    margin-top: 20px;
}

.home-box2 img{
    height: 500px;
    position: absolute;
    bottom: 0px;
    left: -25px;
}

.about{
    /* background-image: url(https://cdn.wallpapersafari.com/40/92/HvIEnr.png); */
    /* background-image: url(https://th.bing.com/th/id/R.e7195ff196359f65cbbd2e6cd8ff8435?rik=iVpMMhCfRdE2IQ&riu=http%3a%2f%2fandresmunozmultimedia.com%2fassets%2fparallaxbg.jpg&ehk=zJHssO2NpCYWXwTmQRAi5ccj4y9eAyTtDl6W0f56G6A%3d&risl=&pid=ImgRaw&r=0); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.about-body{
    width: 1000px;

    background-color: rgb(41, 41, 41);
    /* background-color: white; */
    
    height: fit-content;
    margin: 50px;
    padding-top: 50px;
}

.about-body h2{
    margin-top: 100px;

    background-color: orange;
    color: white;
    /* border: 2px solid black; */
    
    display: inline;
    padding: 20px 30px;
    font-size: 18px;
}

.about-body p{
    color: white;

    margin: 80px 50px 50px;
    font-size: 18px;
}

.projects{
    width: 100%;
    /* height: 750px; */
    box-shadow: inset 0 0 0 500px 0000008a;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-attachment: fixed;
}

.project-show{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    align-items: center;
}

.heading{
    width: fit-content;

    background-color: orange;
    color: white;
    /* background-color: white; */
    
    padding: 10px;
    margin-top: 40px;
}

.project-show img{
    width: 70px;
    height: 70px;
}

.project-showcase{

    background-color: rgb(41, 41, 41);
    /* background-color: beige; */
    
    /* width: 900px; */
    margin-top: 50px;
    /* height: 550px; */
    border-radius: 10px;
    /* border: 2px solid white; */
    padding: 20px;
}
.project-showcase:hover{
    
    box-shadow: 3px 3px 4px 1px black;
}

.project-showcase img{
    width: 300px;
    height: 150px;
    margin-top: 40px;
    transition: all 0.4s ease-in-out;
}

.project-showcase img:hover{
    transform: scale(1.05);
}

.project-showcase h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin: 30px 15px;
    font-size: 30px;
    color: white;
}

.project-showcase p{
    margin: 15px 0px 20px;
    width: 400px; 
    height: fit-content;
    font-size: 15px;
    color: white;
}

.project-showcase button{
    width: 100px;
    padding: 10px 0px;
    font-size: 20px;
    margin: 10px 30px;
    background-color: transparent;
    border: 1px solid orange;
    transition: all 0.5s ease;
    color: white;
}

.project-showcase button:hover{

    box-shadow: inset 100px 0 0 0 orange;
    /* box-shadow: inset 100px 0 0 0 rgb(202, 237, 77); */
    
    transform: scale(1.1);
    cursor: pointer;
}

.contact-form{
    background-color: white;
    width: 500px;
    padding: 30px 30px 30px 30px;
    position: absolute;
    position: fixed;
    top: 50px;
    left: 475px;
    text-align: left;
    display: none;
    box-shadow: 0 0 0px 501px #000000b5;

}

.show{
    display: block;
}

.hide{
    display: none;
}

.contact-form h1{
    font-size: 25px;
    display:inline-block;
    margin-bottom: 25px;
}

#username-label{
    margin-top: 30px;
}

.contact-form img{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.contact-form input , textarea{
    margin: 8px 0px 20px;
    width: 95%;
    height: 25px;
    padding: 5px 10px;
    font-size: 15px;
}

.contact-form textarea{
    height: 150px;
}

.contact-form #submit-button{
    margin-left: 13vw;
    width: 100px;
    height: 40px;
    background-color: beige;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.contact-form #submit-button:hover{
    box-shadow: 0 0 6px 0 black;
    box-shadow: inset;
}

#result-text{
    text-align: center;
    margin: 0px 150px 0px;
}

.btns{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btns a{
    text-decoration: none;
    color: inherit;
}

#goup1{
    display: none;
}


.goup{
    border: none;
    position: absolute;
    right: 80px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    z-index: 100000;
}

.goup img{
    width: 50px;
}

@keyframes move{
    from{
        bottom:80px;
    }to{
        bottom: 90px;
    }
}

.goup:hover{
    animation: move 0.75s infinite;
}

.main-skill-container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    gap: 60px;
    z-index: -11;
    margin: 100px 0px;
}

.hii{
    display: inline;
    /* border: 2px solid black; */
    padding: 15px 35px;
    background-color: orange;
    color: white;
}

.skill-card{
    position: relative;
    border-left: 3px solid white;
    padding: 20px 0px 0px 20px;
    font-size: 15px;
    /* width: 25vw; */
    z-index: -11;
    color: white;

}

.circle{
    width: 80px;
    height: 80px;
    background-color: rgb(106, 255, 0);
    border-radius: 50%;
    position: absolute;
    top:0;
    left: -40px;
    z-index: -11;

}

.skills h1{
    margin-left: 40px;
}

.skills ul{
    padding: 20px 20px 20px 40px;
    margin-top: 10px;
}

.main-skill-container :nth-child(4){
    margin-right: -70px;
}

.skills ul li{
    font-size: 25px;
    padding-left: 10px;
}
.skills ul li::marker{
    content: "✅";
}
.footer{
    text-align: center;
    margin-top: 70px;
    background-color: black;
    color: white;
    padding: 20px;
}
